<section>
    <h2>
        <a href="{{ include.meeting.url }}">{{include.meeting.title}}</a>
        <small>{{ include.meeting.meeting_date }}</small>
    </h2>
    {{ include.meeting.content | markdownify }}
    
    {% for author in include.meeting.meeting_authors %}
        {% if site.data.authors[author] %}
        {% assign meeting_author = site.data.authors[author] %}

        {% include author.html author=meeting_author %}
    
        {% endif %}
    {% endfor %}
    
    {% if include.meeting.event %}
    <p>
        Zapraszamy do zapisywania się na spotkanie na <a href="https://www.meetup.com/Poznan-Java-User-Group/events/{{ include.meeting.event }}/">{% include meetup.html %}</a>!
    </p>
    {% endif %}
</section>