---
---

@import "{{ site.theme }}";

$orange: #F26A55;
$blue: #3F6CB9;

section.page-header {
    background: $blue;
    background-image: none;
}

@for $i from 1 through 6 {
    section.main-content h#{$i} {
        color: $orange
    }
}