---
---

@import "{{ site.theme }}";

$orange: #F26A55;
$blue: #3F6CB9;

.project-name > img {
    max-width: 100%;
}

section.page-header {
    background: $blue;
    background-image: none;
}

@for $i from 1 through 6 {
    section.main-content h#{$i} {
        color: $orange;

        > small {
            color: $blue;
        }
    }
}

.main-content {
    p {
        text-align: justify;
    }

    a > img {
        max-width: 30%;
        min-width: 250px;
    }
}

.meeting-author {
    color: $blue
}

h2 > a {
    color: inherit;
}