---
---

@import "{{ site.theme }}";

$orange: #F26A55;
$blue: #3F6CB9;
$black: #606c71;

.project-name > a > img {
    max-width: 600px;
}

section.page-header {
    background: $blue;
    background-image: none;
}

@for $i from 1 through 6 {
    section.main-content h#{$i} {
        color: $orange;

        > small {
            color: $blue;
        }
    }
}

.main-content {
    p {
        text-align: justify;
    }

    a > img {
        max-width: 30%;
        min-width: 250px;
    }
}

.meeting-author {
    color: $blue
}

.old-meetings {
    a {
        color: $black;
    }
}

h2 > a {
    color: inherit;
}


.youtube-wrapper {
    margin-top: 20px;
    position: relative;
    padding-bottom: 56.10%;
    height: 0;
    overflow: hidden;

    > iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

a > svg {
    height: 1.5em;
    display: inline-block;
    max-width: none;
    width: auto;
    margin-bottom: -.5em;
}